.home-container{
    height: auto;
}
.phoneHeadContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 13rem;
}


/* SHOWING RESULTS FOR */
.searchResults{
    width: 90%;
    margin: 4rem auto 2rem;
}
.searchResults h2{
    font-size: 2.4rem;
    color: #333;
}
.searchResults span{
    color: var(--primary-color);
}
.noResults{
    text-align: center;
    padding: 60px;
    font-size: 3rem;
    color:#777;
}
.phoneTx{
    font-size: 2rem;
    padding-bottom: 2rem;
}
.phoneHeading{
    font-size: 4.2rem;
    color: var(--dark-color);
    padding-bottom: 5rem;
    font-weight: 700;
}
.phoneHeading.main{
    padding-bottom: 0;
}
.phone-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 1.5rem;
    width: min(95%, 1400px);
    margin: 0 auto;
    padding-top: 9rem;
}

.togglePages{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding: 5rem 0;
}
.prevPages{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background: #f2f2f2;
    color: var(--dark-color);
    border-radius: 2rem;
    padding: .4rem 1.3rem;
}
.prevPages:hover, .prevPages:active{
    font-weight: 600;
    color: var(--primary-color);
}

/* TRENDS SESSION */
.trendMainContainer {
    background: #eeeeee;
    margin-top: 3rem;
}
.trend-session{
    margin: 0 auto;
    padding: 6rem 0;
    width: 91%;
}
.phoneHeading.trendHead{
    padding-bottom:1rem;
}
.phoneTx.trendd{
    padding-bottom:0;
    max-width: 65rem;
    color: var(--secondary-color);
    letter-spacing: 0;
    font-size: 2rem;
}
.trendGrid{
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding-bottom: 1rem;
}
.trendGrid::-webkit-scrollbar{
    display: none;
}
.trendBetween{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
}
.trendCard{
    flex:0 0 42%;
    flex-shrink:0;
    background:#fcfcfce5;
    border:1px solid #e7e7e7;
    border-radius:18px;
    overflow:hidden;
}
.trendCard:hover{
    background: linear-gradient(to bottom right , #dcdcdc, #fffbf7b6);
}
.trendHeader{
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
    margin-bottom: 6rem;
}
.trendButtons{
    display:flex;
    gap:1.5rem;
}

.trendButtons button{
    width:48px;
    height:48px;
    border:none;
    border-radius:50%;
    background:#fff;
    color: var(--dark-color);
    font-size:1.4rem;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    transition:.25s;
}
.trendButtons button:hover{
    transform:translateY(-2px);
    background:var(--primary-color);
    color:white;
}
.trendImage{
    width: 100%;
    height: 230px;
    object-fit: cover;
    transition: .3s ease;
}
.trendImage:hover{
    transform: scaleX(1.05);
    filter: brightness(  .5);
}
.trendContent{
    padding: 1.5rem;
    height: 31rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-between;
}
.trendSource{
    font-size: 1.2rem;
    color: var(--dark-color) ;
    margin-bottom: .8rem;
    font-weight: 700;
}
.trendTitle{
    line-height: 1.2;
    font-size: 1.9rem;
    letter-spacing: -0.6px;
    color: var(--dark-color);
    font-weight: 700;
}
.trendDescription{
    color: var(--secondary-color);
    font-size: 1.6rem;
    line-height: 1.6;
    padding-bottom: 2rem;
}
.trendTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .8rem;
}
.trendBadge{
    background: rgba(37,99,235,.1);
    color: var(--primary-color);
    padding: .3rem 1.2rem;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
}
.trendFooter{
    margin-top: 1.2rem;
    padding-top: 1rem;
    border-top: 1px solid #ececec;
}


/* FAQ SECTION */
.faq{
    padding: 11rem 0;
    width: 65%;
    margin: 0 auto;
}
.phoneHeading.faqHead{
    text-align: center;
}
.faqContainer{
    display: flex;
    flex-direction: column;
}
.faqMarginContainer{
    margin-bottom: 3rem;
}
.faqItem{
    font-size: 1.8rem;
    background: #f6f6f6;
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
    transition: 0.2s ease-in-out;
}
.faqItem:hover, .faqItem.active{
    background: #ebebeb;
}
.faqAnswer{
    font-size: 1.8rem;
    background: #f6f6f6;
    padding: 3rem;
    color: var(--secondary-color);
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 11px 15px -17px rgb(144, 144, 144);
    transition: 0.2s ease-in-out;
    border-top: 1px solid rgb(212, 211, 211);
}
.faqPlusIcon{
    transition: transform .3s ease;
    
}
.faqPlusIcon.rotate{
    transform: rotate(45deg);
}

/* MEDIA QUERIES */

@media (max-width:768px){

    .phoneHeadContainer{
        padding-top:10rem;
    }

        .phoneHeading{
            font-size:3rem;
            text-align:center;
        }

        .phoneTx{
            font-size:1.7rem;
            text-align:center;
        }

        .phone-container{
            width:95%;
            grid-template-columns:repeat(2, minmax(0, 1fr));
            gap:1.2rem;
             padding-top:6rem;
        }

        .togglePages{
            width:90%;
        }

        .trend-session{
            padding-top: 8rem;
        }
        .phoneHeading.trendHead{
            font-size: 4rem;
            font-weight: bolder;
            text-align: left;
            padding-bottom:.9rem;
        }

        .phoneTx.trendd{
            text-align: left;
            font-size: 1.6rem;
        }

        .trendHeader{
            display:flex;
            flex-direction:column;
            align-items:flex-start;
            gap:1.5rem;
            margin-bottom:2rem;
        }
        .trendButtons{
            width:100%;
            display:flex;
            justify-content:flex-end;
        }

        .trendCard{
            flex:0 0 70%;
        }

        .faq{
            width:90%;
        }

        .faqItem,
        .faqAnswer{
            font-size:1.6rem;
        }

        .searchResults h2{
            font-size:2rem;
        }

}

@media (max-width:480px){

.phoneHeading{
    font-size:2.3rem;
    line-height:1.3;
}

.phoneTx{
    font-size:1.4rem;
}

.phone-container{
    width:92%;
    grid-template-columns:1fr;
    gap: .3rem;
}

.togglePages{
    width:100%;
    padding:4rem 2rem 0;
}

.prevPages{
    font-size:1.5rem;
    font-weight: bold;
    border-radius: 2rem;
    padding: .4rem 1.3rem;
}
.trend-session{
    padding-top: 6rem;
}
.phoneHeading.trendHead{
    font-size:2.5rem;
}

.trendCard{
    flex:0 0 95%;
}

.phoneTx.trendd{
    padding-bottom:1rem;
    font-size: 1.5rem;
}
.phoneHeading.trendHead{
    font-size: 3.4rem;
    font-weight: bolder;
}
.trendHeader{
    gap:.8rem;
    margin-bottom: 2rem;
}

.trendButtons{
    width:100%;
    justify-content:flex-end;
}

.trendButtons button{
    width:40px;
    height:40px;
}
.trendBetween{
    gap: 1.8rem;
}
.trendContent{
    height: 34rem;
}
.trendTop{
    margin-bottom: 0;
}
.trendImage{
    height:190px;
}
.trendTitle{
    font-size: 1.8rem;
}
.trendDescription{
    font-size: 1.5rem;
}
.trendFooter{
    margin-top: 0;
}
.faq{
    width:95%;
}

.faqItem{
    font-size:1.5rem;
    padding:2rem;
}

.faqAnswer{
    font-size:1.4rem;
    padding:2rem;
}

.searchResults h2{
    font-size:1.6rem;
    text-align:center;
}

.noResults{
    font-size:2rem;
    padding:40px 20px;
}

}