.nav {
    width: 100%;
    padding: 1rem 6%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--navbar-background);
    backdrop-filter: blur(2rem);
}


/* =========================
   TOP ROW
========================= */

.navTop {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* =========================
   LEFT SIDE
   MENU + LOGO
========================= */

.navLeft {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.logo img {
    width: 3rem;
    display: block;
}


/* MENU ICON */

.menuIcon {
    display: none;
    font-size: 2.8rem;
    cursor: pointer;
    position: relative;
    z-index: 2001;
    color: var(--dark-color);
}


/* =========================
   NAV LINKS
========================= */

.navLinks {
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 1.8rem;
}

.navLinkText {
    color: var(--page-text);
    position: relative;
}

.navLinkText.active {
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.navLinkText::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    border-radius: 10px;
    left: 0;
    bottom: -3px;
    transform-origin: left;
    transition: transform .3s;
    transform: scale(0);
}

.navLinkText:hover::after {
    transform: scale(1);
}


/* =========================
   RIGHT SIDE
   CART + DARK MODE
========================= */

.navActions {
    display: flex;
    align-items: center;
    gap: 2rem;
}


/* =========================
   SEARCH ROW
========================= */

.navSearch {
    width: 100%;
    margin-top: 1rem;
}

.search-container {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 999px;
    font-size: 1.8rem;
    background: var(--light-color);
    animation: searchOpen 0.25s ease;
}
@keyframes searchOpen {
    from {
        opacity: 0;
        transform: translateX(10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.searchInput {
    flex: 1;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    padding: 1.2rem 2rem;
    color: var(--page-text);
    font-size: 1.8rem;
    font-weight: inherit;
}
.searchIcon{
    color: var(--dark-color);
    font-size: 2rem;
}
.search-icon {
    width: 4.5rem;
    height: 100%;
    border: none;
    background: var(--search-icon-background);
    color: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
}

.searchInput::placeholder {
    color: var(--muted-text);
}


/* =========================
   CART
========================= */

.cartContainer {
    width: 3.5rem;
    height: 3.5rem;

    border-radius: 50%;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.cartIcon {
    font-size: 1.8rem;
    color: var(--dark-color);
}

.cartCount {
    font-size: 1.2rem;
    position: absolute;
    background: var(--danger-color);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    color: #fff;
    right: -8px;
    top: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}


/* =========================
   DARK MODE
========================= */

.darkModeIcon {
    font-size: 1.8rem;
    color: var(--dark-color);
    cursor: pointer;
}


/* =========================
   OVERLAY
========================= */

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .35);
    z-index: 998;
}


/* =========================
   TABLET
========================= */

@media (max-width: 992px) {

    .nav {
        padding: 1.2rem 3rem;
    }
    .navLinks {
        gap: 2rem;
        font-size: 1.6rem;
    }

    .navActions {
        gap: 1.5rem;
    }

}


/* =========================
   MOBILE
========================= */

@media (max-width: 768px) {
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        padding: 1.2rem 2rem;
        background: var(--navbar-background );
        backdrop-filter: blur(1rem);
    }

    .menuIcon {
        display: block;
    }

    .navLinks {
        position: fixed;
        top: 0;
        left: -27rem;
        right: auto;
        width: 24rem;
        height: 100vh;
        background: var(--surface-color-2);
        display: flex;
        flex-direction: column;

        align-items: flex-start;
        justify-content: flex-start;

        padding: 9rem 2rem 2rem;

        gap: 2rem;

        transition: .35s ease;

        box-shadow: -10px 0 30px rgba(0, 0, 0, .08);

        z-index: 2000;
    }

    .activeMenu {
        left: 0;
    }

    .navLinkText {
        padding: .8rem 0;
        width: 100%;
    }

    .navSearch {
        margin-top: 1rem;
    }

    .search-container {
        height: 4.5rem;
    }

    .searchInput {
        font-size: 1.5rem;
    }

}


/* =========================
   SMALL MOBILE
========================= */

@media (max-width: 576px) {

    .nav {
        padding: 1.2rem 1.4rem .8rem;
    }
    .navLeft {
        gap: .8rem;
    }
    .logo img {
        width: 3rem;
    }
    .menuIcon {
        font-size: 2.5rem;
    }
    .navActions {
        gap: 2rem;
    }
    .cartContainer {
        width: 3rem;
        height: 3rem;
    }
    .darkModeIcon {
        font-size: 1.7rem;
    }
    .searchInput {
        padding: 1.2rem 2rem;
        font-size: 1.4rem;
    }
    .search-icon {
        width: 4rem;
    }

}